audio-recorder-streamlit>=0.0.10
av>=16.0.1
groq>=0.33.0
librosa>=0.11.0
numpy>=2.3.4
Pillow>=11.3.0
python-dotenv>=1.2.1
reportlab>=4.4.4
soundfile>=0.13.1
streamlit>=1.50.0
streamlit-webrtc>=0.63.11
opencv-python-headless==4.9.0.80